header{
    background-color: #fffdf4fd;
    width: 100%;
    box-sizing: border-box;

    /* flexbox para poner el titulo a la izquierda y el nav a la derecha */
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 2rem;              

    h1 {
        margin: 0;  
        /* Quita los márgenes por defecto del título que pueden desalinearlo */
        font-size: 1.8rem;
    }

    #nav-principal {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        a{
            text-decoration: none;
            font-size: 1rem;

            &:link, &:visited{ 
                color:#40413de3;
            }

            &:active, &:focus, &:hover{
                color: #b91c1c ;
                border-bottom: 0.1rem solid #b91c1c;
                padding-bottom: 0.4rem;
            }
        }
    }
}